.eachCard {
    position: relative;
    border: 1px solid #e0e0e0;
    margin-left: 4%;
    margin-top: 3%;
    height: auto;
}

.fa-times {
    position: absolute;
    margin-left: 97%;
    margin-top: 1%;
    font-size: 22px;
}