/*-------------------------------*/

/*           Article form        */

/*-------------------------------*/

.divNotChange {
  background-color: white;
}

.divChangeBackground {
  background-color: #afa6a6;
  height: auto;
  transition: background-color .5s ease-out;
  /* opacity: 0.3; */
}

#addArticleHeading {
  border-bottom: 1px solid #eceaea;
  padding-left: 16%;
  margin-left: 0%;
  margin-bottom: 0px;
}

#rightSideBar {
  background-color: #f0f3f5;
  margin-left: 80%;
  border-left: 1px solid #dcdbdb;
  padding: 1em;
  overflow: inherit;
  height: 700px;
}

#rightSideBar ul {
  list-style-type: none;
  padding: 0;
}

#rightSideBar ul a {
  text-decoration: none;
}

.leftPart {
  float: left;
  margin: 0;
  width: 78%;
}

.tags {
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  border-bottom: 1px solid #cee7fc;
}

.tags .active-marker {
  left: 50%;
  position: absolute;
  width: 50%;
  bottom: -2px;
  height: 3px;
  background-color: #0099ef;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: left .2s linear;
}

.tags .active-marker-right {
  left: 50%;
  position: absolute;
  width: 50%;
  bottom: -2px;
  height: 3px;
  background-color: #0099ef;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: left .2s linear;
}

.saveContainer {
  margin-bottom: 4%;
}

.saveContainer, .tags {
  border-radius: 8px;
  background-color: #fff;
  padding: 18px;
  border: 1px solid #D9E1E7;
  box-sizing: content-box;
}

.tags {
  border-radius: 3px;
}

.tagsContainer {
  overflow-y: scroll;
  height: 270px;
  border-radius: 3px;
  background-color: #fff;
  padding: 18px;
  border: 1px solid #D9E1E7;
  box-sizing: content-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7%;
}

.cityTag, .categoryTag {
  cursor: pointer;
}

.showCityDiv, .showCategoryDiv {
  display: block;
}

.hideCategoryDiv, .hideCityDiv {
  display: none;
}

.submitArticle {
  border: none;
  border-radius: 18px 0 0 18px;
  margin-bottom: 0!important;
  background-color: #3899EC;
  border-color: #3899EC;
  color: #fff;
  width: 100%;
  display: block;
  padding: 9px 19px;
  border-radius: 18px;
  font-size: 16px;
}

.dropdown {
  border-top: 0px;
}

.fr-box.fr-basic.fr-top .fr-wrapper {
  border-top: 0;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  background-clip: initial;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.fr-toolbar {
  border-top: initial;
}

#preview {
  text-align: center;
  cursor: pointer;
  margin-top: 3px;
}

/*-------------------------------*/

/*           Advanced overlay    */

/*-------------------------------*/

.advance {
  cursor: pointer;
  width: 100%;
  padding: 13px 23px;
  background-color: #fff;
  border: 1px solid #D9E1E7;
  border-radius: 8px;
  font-size: 14px;
  text-align: left;
  margin-bottom: 20px;
  position: relative;
}

.fa-arrow-right {
  margin-left: 54%;
}

.button {
  -moz-appearance: none;
  border: 1px solid transparent;
  display: inline-block;
  font-size: 16px;
  line-height: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100000;
  top: 0;
  font-size: 28px;
  right: 0;
  background-color: #fafafb;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.moveSidenav {
  height: 100%;
  width: 550px;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #fafafb;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.moveSidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.moveSidenav a:hover {
  color: #f1f1f1;
}

.moveSidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.sideWidgetHeading {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 54px;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 23px;
  border-bottom: 1px solid #d9e1e8;
}

.title-control {
  position: relative;
  display: block;
  width: 90%;
  padding: 6px 0px;
  text-indent: 3%;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 54px;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 23px;
  border-top: 1px solid #d9e1e8;
}

.title-control {
  margin: 2%;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .moveSidenav {
    padding-top: 15px;
  }
  .moveSidenav a {
    font-size: 18px;
  }
}

/*-------------------------------*/

/*           Popup               */

/*-------------------------------*/

.overlayHide {
  display: none;
}

.popupContent {
  left: 10%;
  top: 5%;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popupContent .form-control {
  width: 94%;
}

#popup2 .popupContent {
  left: 35%;
  top: 35%;
  padding: 28px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popupContent h2 {
  margin-top: 0;
  color: #333;
}

.popupContent .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

#popup2 .popupContent .close {
  position: absolute;
  top: 2px;
  right: 14px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popupContent .close:hover {
  color: #06D85F;
}

.popupContent .content {
  max-height: 30%;
  overflow: auto;
}

.content a {
  cursor: pointer;
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .saveContainer {
    padding: 11px;
  }
  .submitArticle {
    font-size: 5px;
  }
  #preview {
    font-size: 10px;
    text-align: center;
  }
  .tags {
    padding: 0px;
  }
  .tagsContainer {
    padding: 11px;
  }
  .cityTag, .categoryTag {
    cursor: pointer;
    font-size: 7px;
  }
  .showCityDiv, .showCategoryDiv {
    display: block;
    font-size: 9px;
  }
  .leftPart {
    margin: 0;
    padding: 0px;
  }
  .rdw-editor-toolbar {
    padding: 3px 0px 0;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .advance {
    padding: 9px 4px;
    font-size: 10px;
  }
  .fa-arrow-right {
    margin-left: 31%;
  }
}

@media only screen and (min-width: 360px) and (max-width: 411px) {
  #rightSideBar {
    padding: 5px;
  }
  #addArticleHeading {
    font-size: 14px;
  }
  .saveContainer {
    padding: 5px 7px;
  }
  .submitArticle {
    font-size: 5px;
    padding: 5px 9px;
  }
  #preview {
    font-size: 9px;
    text-align: center;
  }
  .tags {
    padding: 0px;
  }
  .tagsContainer {
    padding: 3px;
  }
  .cityTag, .categoryTag {
    cursor: pointer;
    font-size: 7px;
  }
  .showCityDiv, .showCategoryDiv {
    display: block;
    font-size: 8px;
  }
  input[type="checkbox"] {
    height: 10px;
    width: 10px;
  }
  .leftPart {
    margin: 0;
    padding: 0px;
  }
  .rdw-editor-toolbar {
    padding: 1px 0px 0;
    font-size: 10px;
    margin-bottom: 4px;
  }
  .advance {
    padding: 8px 3px;
    font-size: 6px;
  }
  .fa-arrow-right {
    margin-left: 27%;
  }
  .rdw-dropdown-selectedtext {
    height: 90%;
  }
}

.Modal-modal-0-1-3 {
  max-width: none !important;
  width: 1517px;
  height: 100%;
}

.fr-toolbar {
  border-top: none;
}