/*-------------------------------*/

/*           Shift Body          */

/*-------------------------------*/

.main {
    margin-left: 0px;
    position: relative;
    padding: 16px;
    transition: margin-left 0s;
}

.mainMove {
    margin-left: 220px;
    transition: margin-left 1s;
    padding: 16px;
}

#mainId {
    background-color: white;
    margin-bottom: 2%;
    margin-top: 2%;
}

#mainFeed {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.mainMove .logout {
    border-radius: 2px;
    border: 0px;
    padding: 3px 2px;
}

.mainMove .userDataColumn {
    padding-left: 0px;
}

.openButton {
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 26px;
    cursor: pointer;
}

.userDataColumn {
    padding-left: 5px;
    padding-right: 0px;
    max-width: 13%;
}

.displayName {
    display: inline-block;
}

.loginUserImage {
    width: 40px;
    height: 40px;
    margin-right: 4%;
    margin-left: 2%;
    border-radius: 50%;
}

.userDataColumn>.logout {
    background-color: black;
    color: #fff;
    cursor: pointer;
    top: 92%;
    left: 2%;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    padding: 3px 8px;
}

.userDataColumn:hover>.logout {
    visibility: visible;
}

.user {
    margin-left: 2%;
    margin-top: 8px;
    font-size: 25px;
}