/*-------------------------------*/

/*           Listing Card        */

/*-------------------------------*/

.listingBackground {
  background-color: #f1f1f1;
}

.card1 {
  /* background-color: white; */
  margin: 0 auto;
  margin-top: 6Px;
  margin-left: 16%;
  width: 75%;
  border: 0px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, .5);
}

.card .container {
  background-color: white;
  width: 100%;
  padding: 0px;
}

.row {
  color: black;
}

.firstRow {
  padding: 1% 2% 0% 3%;
}

.firstRow .col-xs-2 {
  width: 20%;
}

.firstRow .col-xs-4 {
  width: 50%;
  text-transform: capitalize;
  padding: 1% 0% 2% 3%;
}

.firstRow .col-xs-6 {
  width: 30%;
  margin-top: 0%;
  margin-left: -17px;
}

.firstRow .col-xs-3 {
  width: 30%;
  padding-left: 10%;
  padding-top: 2%;
}

.firstRow .col-xs-1 {
  width: 10%;
}

.fa-check-circle-o {
  padding-left: 2%;
}

li {
  list-style-type: none;
}

.listTitle {
  color: black;
  font-size: 26px;
  font-weight: 700;
}

.fa-paperclip {
  float: right;
  font-size: 22px;
  color: grey;
}

ul {
  padding: 2px 0px 0px 13px;
  font-size: 13px;
}

.listingOverlay {
  position: absolute;
  top: 12px;
  left: 18px;
  width: 19%;
  height: 113px;
  color: white;
  opacity: 0;
  background: rgba(0, 0, 0, 0);
  transition: all 0.35s ease-in-out;
  /* transition: background 0.5s ease; */
}

.col-xs-2:hover {
  cursor: pointer;
}

.col-xs-2:hover .listImage+.listingOverlay {
  opacity: 1;
  color: white;
  visibility: visible;
  display: block;
  background: rgba(0, 0, 0, .3);
}

.listImage {
  height: 125px;
  width: 19%;
  position: absolute;
}

.fa-share-alt, .fa-share-alt+.fa-eye {
  color: white;
}

.fa-share-alt {
  padding: 50px;
}

#primaryCategory, #arrow, #subCategory {
  display: inline-block;
  word-spacing: 2px;
  font-weight: 600;
  color: #007bff;
  text-transform: capitalize;
}

#displayDate {
  font-size: 13px;
}

.dot1 {
  position: absolute;
  margin-left: 20%;
  height: 70px;
  width: 70px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 50%;
  color: grey;
  display: inline-block;
}

.dot2 {
  position: absolute;
  margin-left: 10%;
  height: 70px;
  width: 70px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 50%;
  color: grey;
  display: inline-block;
}

.dot3 {
  position: absolute;
  margin-left: 0%;
  height: 70px;
  width: 70px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 50%;
  color: grey;
  display: inline-block;
}

.shares {
  position: relative;
  top: 15%;
  left: 34%;
  font-size: 26px;
}

.cityCircle {
  position: relative;
  top: 9%;
  left: 30%;
  font-size: 26px;
}

.likes {
  position: relative;
  top: 14%;
  left: 30%;
  font-size: 26px;
}

.shareNum {
  position: relative;
  font-size: 11px;
  top: 41%;
  right: 0%;
}

.cityName {
  position: relative;
  font-size: 12px;
  top: 44%;
  right: 9%;
  text-transform: capitalize;
}

.likesNum {
  position: relative;
  font-size: 11px;
  top: -5%;
  right: 0%;
  left: 14%;
}

.fa-map-marker {
  font-size: 21px;
  padding-right: 2%;
}

.displayCity {
  height: 26px;
}

.shares .fa-check-circle-o, .fa-file-text-o {
  color: green;
  font-size: 21px;
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .listTitle {
    font-size: 17px;
  }
  #primaryCategory, #arrow, #subCategory {
    font-size: 11px;
  }
  #displayDate {
    font-size: 9px;
  }
  .listImage {
    height: 98px;
    width: 22%;
    position: absolute;
  }
  .dot3 {
    margin-left: -3%;
    height: 47px;
    width: 47px;
  }
  .dot1 {
    height: 47px;
    width: 47px;
    margin-left: 17%;
  }
  .dot2 {
    height: 47px;
    width: 47px;
    margin-left: 7%;
  }
  .cityCircle {
    position: relative;
    top: 7%;
    left: 24%;
    font-size: 16px;
  }
  .displayCity {
    height: 21px;
  }
  .cityName {
    font-size: 10px;
    top: -7%;
    right: 0%;
    left: 21%;
  }
  .shares {
    top: 7%;
    left: 34%;
    font-size: 16px;
  }
  .shareNum {
    font-size: 10px;
    top: 38%;
    left: 3%;
  }
  .fa-file-text-o {
    font-size: 15px;
  }
  .likes {
    top: -13%;
    left: 30%;
  }
  .likesNum {
    font-size: 9px;
    top: -50%;
    left: 13%;
  }
  .likes>.fa-eye {
    font-size: 15px;
  }
  .listAddress {
    font-size: 12px;
  }
}

@media only screen and (min-width: 360px)and (max-width: 411px) {
  .card1 {
    width: 80%;
  }
  .listTitle {
    font-size: 14px;
  }
  #primaryCategory, #arrow, #subCategory {
    font-size: 12px;
  }
  #displayDate {
    font-size: 11px;
  }
  .listImage {
    height: 159px;
    width: 22%;
    top: 3%;
    left: 1%;
  }
  .dot3 {
    border: 0px;
    background-color: transparent;
    height: 42px;
    width: 42px;
    margin-left: 2%;
  }
  .dot1 {
    border: 0px;
    background-color: transparent;
    height: 42px;
    width: 42px;
    margin-left: 2%;
  }
  .dot2 {
    border: 0px;
    background-color: transparent;
    height: 42px;
    width: 42px;
    margin-left: 2%;
  }
  .firstRow .col-xs-6 {
    width: 25%;
    margin-left: 10px;
  }
  .firstRow .col-xs-4 {
    margin-left: 1%;
    width: 50%;
    text-transform: capitalize;
    padding: 1% 0% 2% 6%;
  }
  .col-xs-6 ul {
    padding: 0px;
    margin: 0px;
    margin-left: 17%;
    height: 100%;
  }
  .col-xs-6 ul li {
    display: block;
    height: 30%;
  }
  .cityCircle {
    position: relative;
    top: 7%;
    left: 24%;
    font-size: 16px;
  }
  .displayCity {
    height: 17px;
  }
  .cityName {
    font-size: 10px;
    top: 40%;
    right: 0%;
    left: -19%;
  }
  .shares {
    top: 7%;
    left: 34%;
    font-size: 16px;
  }
  .shareNum {
    font-size: 9px;
    top: 38%;
    left: -6%;
  }
  .fa-file-text-o {
    font-size: 13px;
  }
  .likes {
    top: -13%;
    left: 30%;
  }
  .likesNum {
    font-size: 9px;
    font-size: 7px;
    top: -47%;
  }
  .likes>.fa-eye {
    font-size: 15px;
  }
  .listAddress {
    font-size: 11px;
  }
  .userDataColumn {
    max-width: 16%;
  }
}

@media screen and (min-width: 412px) and (max-width: 416px) {
  .card1 {
    width: 80%;
  }
  .listTitle {
    font-size: 14px;
  }
  #primaryCategory, #arrow, #subCategory {
    font-size: 12px;
  }
  #displayDate {
    font-size: 11px;
  }
  .listImage {
    height: 159px;
    width: 22%;
    top: 3%;
    left: 1%;
  }
  .dot3 {
    border: 0px;
    background-color: transparent;
    height: 42px;
    width: 42px;
    margin-left: 2%;
  }
  .dot1 {
    border: 0px;
    background-color: transparent;
    height: 42px;
    width: 42px;
    margin-left: 2%;
  }
  .dot2 {
    border: 0px;
    background-color: transparent;
    height: 42px;
    width: 42px;
    margin-left: 2%;
  }
  .firstRow .col-xs-6 {
    width: 25%;
    margin-top: 0%;
    margin-left: 0px;
  }
  .firstRow .col-xs-4 {
    width: 55%;
    text-transform: capitalize;
    padding: 1% 0% 2% 6%;
  }
  .col-xs-6 ul {
    padding: 0px;
    margin: 0px;
    margin-left: 17%;
    height: 100%;
  }
  .col-xs-6 ul li {
    display: block;
    height: 30%;
  }
  .cityCircle {
    position: relative;
    top: 7%;
    left: 24%;
    font-size: 16px;
  }
  .displayCity {
    height: 17px;
  }
  .cityName {
    font-size: 10px;
    top: 40%;
    right: 0%;
    left: -18%;
  }
  .shares {
    top: 7%;
    left: 34%;
    font-size: 16px;
  }
  .shareNum {
    font-size: 9px;
    top: 38%;
    left: -6%;
  }
  .fa-file-text-o {
    font-size: 13px;
  }
  .likes {
    top: -13%;
    left: 30%;
  }
  .likesNum {
    font-size: 9px;
    font-size: 7px;
    top: -47%;
  }
  .likes>.fa-eye {
    font-size: 15px;
  }
  .listAddress {
    font-size: 11px;
  }
  .userDataColumn {
    max-width: 16%;
  }
}