/*-------------------------------*/

/*           Listing Card        */

/*-------------------------------*/

.card1 {
  background-color: white;
  margin: 0 auto;
  margin-top: 3Px;
  margin-left: 16%;
  width: 75%;
  border: 0px;
  border-radius: 0px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  float: left;
}

.card .container {
  width: 100%;
  padding: 0px;
}

.row {
  color: black;
}

.firstRow {
  padding: 1% 2% 0% 3%;
}

.firstRow .col-xs-2 {
  width: 20%;
}

.firstRow .col-xs-4 {
  width: 40%;
  text-transform: capitalize;
  padding: 1% 0% 3% 3%;
}

.firstRow .col-xs-3 {
  width: 30%;
  padding-left: 10%;
  padding-top: 2%;
}

.firstRow .col-xs-1 {
  width: 10%;
}

.secondRow {
  border: 1px solid rgb(207, 203, 203);
  padding: 1%;
  margin-top: 0px;
  margin-bottom: -5px;
  margin-left: -6px;
  margin-right: -5px;
  background-color: #f5f5f5;
}

.secondRow .col-xs-6 {
  width: 50%;
}

.fa-check-circle-o {
  padding-left: 2%;
}

li {
  list-style-type: none;
}

.listTitle {
  color: black;
  font-size: 26px;
  font-weight: 500;
}

.fa-paperclip {
  float: right;
  font-size: 22px;
  color: grey;
}

ul {
  padding: 2px 0px 0px 33px;
  font-size: 13px;
}

.listingOverlay {
  position: absolute;
  top: 12px;
  left: 18px;
  width: 19%;
  height: 113px;
  color: white;
  opacity: 0;
  background: rgba(0, 0, 0, 0);
  transition: all 0.35s ease-in-out;
  /* transition: background 0.5s ease; */
}

.col-xs-2:hover {
  cursor: pointer;
}

.col-xs-2:hover .listImage+.listingOverlay {
  opacity: 1;
  color: white;
  visibility: visible;
  display: block;
  background: rgba(0, 0, 0, .3);
}

.listImage {
  height: 118px;
  width: 19%;
  position: absolute;
}

.fa-share-alt, .fa-share-alt+.fa-eye {
  color: white;
}

.fa-share-alt {
  padding: 50px;
}

#primaryCategory, #arrow, #subCategory {
  display: inline-block;
  word-spacing: 2px;
  font-weight: 600;
  color: #007bff;
  text-transform: capitalize;
}

#displayDate {
  font-size: 13px;
}

.dot1 {
  position: absolute;
  height: 80px;
  width: 80px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 50%;
  color: grey;
  display: inline-block;
}

.dot2 {
  position: absolute;
  margin-left: 10%;
  height: 80px;
  width: 80px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 50%;
  color: grey;
  display: inline-block;
}

.shares {
  position: relative;
  top: 33%;
  left: 26%;
  font-size: 13px;
}

.likes {
  position: relative;
  top: 33%;
  left: 30%;
  font-size: 13px;
}

.shareNum {
  position: relative;
  font-size: 34px;
  top: 10%;
  right: 13%;
}

.likesNum {
  position: relative;
  font-size: 34px;
  top: 10%;
  right: 2%;
}

.fa-map-marker {
  font-size: 21px;
  padding-right: 2%;
}
.displayCity{
  height: 26px;
}