/*-------------------------------*/

/*           Loginpage             */

/*-------------------------------*/

.loginBackground {
  background-color: #608199;
  height: -webkit-fill-available;
  width: unset;
}

#formheading {
  font-size: 35px;
  color: white;
  z-index: 100;
  position: absolute;
  top: 5%;
  left: 40%;
}

#login {
  font-size: 28px;
  color: white;
  z-index: 100;
  position: absolute;
  top: 9%;
  left: 48%;
}

.loginform {
  z-index: 100;
  font-size: 18px;
  position: absolute;
  top: 17%;
  left: 32%;
}

.newcard {
  top: 20%;
  left: 40%;
  border-radius: 5px;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  width: 19%;
  background-color: white;
  margin-bottom: -16px;
}

.newcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.sologo {
  margin: 23% 33% 4%;
  width: 100px;
}

.fa-facebook-square, .fa-google-plus-official {
  font-size: 26px;
}

.fbLogin, .gLogin {
  letter-spacing: 1px;
  display: block;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.fbLogin {
  padding: 11px 17px;
  background-color: #0069d9;
  border-color: #0062cc;
  margin-top: 22%;
}

.gLogin {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 31px;
  background-color: #c82333;
  border-color: #bd2130;
  margin-top: 5%;
  margin-bottom: 5%;
}

@media screen and (min-width: 640px) and (max-width: 1280px) {
  .newcard .container {
    padding: 13px;
  }
  .sologo {
    margin: 17% 20% 4% 25%;
    width: 122px;
  }
  .newcard {
    top: 15%;
    left: 31%;
    border-radius: 5px;
    width: 38%;
  }
  .fbLogin {
    margin-top: 11%;
  }
  .gLogin {
    padding: 5px 5px 5px 6px;
  }
  .fbLogin, .gLogin {
    padding: 7px 5px 7px 6px;
    margin-bottom: 0;
    font-size: 14px;
  }
  .fa-facebook-square, .fa-google-plus-official {
    font-size: 19px;
  }
}

@media screen and (min-width: 360px) and (max-width: 412px) {
  .newcard .container {
    padding: 6%;
  }
  .sologo {
    margin: 13% 20% 0% 19%;
    width: 112px;
  }
  .newcard {
    top: 15%;
    left: 24%;
    width: 50%;
  }
  .fbLogin {
    margin-top: 11%;
  }
  .gLogin {
    padding: 5px 5px 5px 6px;
  }
  .fbLogin, .gLogin {
    padding: 4px 5px 4px 6px;
    margin-bottom: 0;
    font-size: 11px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .fa-facebook-square, .fa-google-plus-official {
    font-size: 19px;
  }
}

@media screen and (min-width: 412px) and (max-width: 416px) {
  .fbLogin, .gLogin {
    padding: 7px 5px 7px 6px;
    font-size: 15px;
    letter-spacing: 0px;
  }
  .glogin {
    margin-bottom: 8%;
  }
  .newcard {
    top: 15%;
    left: 25%;
    width: 50%;
  }
  .sologo {
    margin: 17% 20% 4% 18%;
    width: 140px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .sologo {
    margin: 20% 20% 6% 21%;
    width: 226px;
  }
  .fbLogin, .gLogin {
    padding: 20px 0px;
    font-size: 26px;
  }
}

/* 
@media screen and (min-width: 1280px) {
  .container {
    padding: 2px 43px;
  }
  .newcard {
    top: 17%;
    left: 27%;
    width: 44%;
    margin-bottom: -16px;
  }
  .sologo {
    margin: 20% 20% 6% 25%;
    width: 400px;
  }
  .fbLogin, .gLogin {
    padding: 20px 0px;
    font-size: 44px;
  }
  .fa-facebook-square, .fa-google-plus-official {
    font-size: 41px;
  }
} */