
/*-------------------------------*/

/*           Navigationbar       */

/*-------------------------------*/

.navbar {
    padding: 0px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 206px;
    position: fixed;
    width: 0;
    height: 100%;
    left: 0px;
    top: 0 px;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
    color: grey;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#openNavbar {
    z-index: 1000;
    left: 206px;
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0px;
    top: 0 px;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
    color: grey;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#openNavbar::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #openNavbar {
    width: 220px;
}

/*-------------------------------*/

/*     Sidebar nav styles        */

/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 29px;
    display: inline-block;
    width: 100%;
    font-size: 15px;
}

.logo {
    width: 100px;
    padding-top: 2%;
    width: -webkit-stretch;
    margin-left: 19%;
}

#title {
    font-size: 24px;
    padding-top: 27px;
    padding-left: 26px;
    padding-bottom: 28px;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background: white;
    color: grey;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li a {
    color: grey;
    padding: 14px 10px 11px 30px;
    word-spacing: 8px;
    font-weight: 700;
    font-size: 16px;
}

.dashboard {
    padding: 26px 10px 26px 30px;
    word-spacing: 8px;
    font-weight: 700;
    font-size: 16px;
    background-color: #0fb8ad;
    color: white;
    border-bottom: 1px solid rgba(151, 151, 151, 0.2);
}

.feed:hover {
    color: white;
    cursor: pointer;
}

.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
    color: grey;
    cursor: pointer;
    text-decoration: none;
}

.dashboard:hover {
    text-decoration: none;
    background-color: #0fb8ad;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}

.sidebar-nav .dropdown-menu {
    position: initial;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.sidebar-nav .dropdown-menu li {
    cursor: pointer;
    background-color: #dad6d6;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button {
    margin-left: 37%;
    margin-bottom: 10%;
    background-color: #204d74;
    padding: 5px 42px 5px 42px;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    color: white;
    border: 1px solid transparent;
    border-radius: 4px;
}

.dropdown-content {
    top: 64px;
    left: 34px;
    overflow-y: scroll;
    height: 300px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding-left: 5px;
    z-index: 1;
}

.dropdown-content p {
    cursor: pointer;
    text-decoration: none;
}

.dropdown p:hover {
    background-color: #2e6da4;
}

.dropdown:hover .dropdown-content {
    display: block;
}