.col-sm-10 {
    max-width: 93%;
    padding-left: 16%;
}

.col-sm-10>.form-control {
    position: relative;
    display: block;
    width: 100%;
    padding: .375rem 0rem;
    text-indent: 3%;
    font-size: 1rem;
    line-height: 1.5;
    color: blue;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#searchIcon {
    position: absolute;
    opacity: 0.4;
    left: 18%;
    top: 11px;
    cursor: pointer;
}

#cancelButton {
    position: absolute;
    top: 20%;
    font-size: 17px;
    opacity: 0.4;
    cursor: pointer;
    left: 96%;
    float: right;
    bottom: -11%;
}

@media only screen and (min-width: 360px)and (max-width: 411px) {
    .col-sm-10>.form-control {
        font-size: 12px;
        text-indent: 9%;
        width: 100%;
        padding: .325rem 0rem;
    }
    .col-sm-10 {
        max-width: 60%;
        margin-left: 0px;
        font-size: 12px;
    }
    #cancelButton {
        top: 15%;
        cursor: pointer;
        left: -5%;
        font-size: 13px;
    }
}

@media only screen and (min-width: 320px)and (max-width: 359px) {
    .col-sm-10 {
        max-width: 60%;
        margin-left: 0%;
    }
    .col-sm-10>.form-control {
        width: 100%;
        padding: .35rem 0rem;
        text-indent: 10%;
        font-size: 12px;
    }
    #searchIcon {
        left: 3%;
        top: 9px;
        font-size: 12px;
    }
    #cancelButton {
        top: 13%;
        font-size: 17px;
        font-size: 12px;
        left: -12%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .col-sm-10>.form-control {
        position: relative;
        display: block;
        width: 100%;
        padding: .375rem 0rem;
        text-indent: 4%;
    }
    #cancelButton {
        position: absolute;
        top: 1%;
        font-size: 17px;
        opacity: 0.4;
        cursor: pointer;
        left: 0%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 768px) {
    .mainMove {
        padding: 16px;
    }
    .mainMove .col-sm-10 {
        max-width: 72%;
    }
    .col-sm-10>.form-control {
        position: relative;
        display: block;
        width: 100%;
        padding: .375rem 0rem;
        text-indent: 6%;
        font-size: 14px;
    }
    .col-sm-10 {
        max-width: 76%;
        margin-left: 0%;
        padding-left: 0px;
        padding-right: 0px;
    }
    #searchIcon {
        left: 2%;
        top: 10px;
        font-size: 13px;
    }
    #cancelButton {
        left: -2%;
        font-size: 16px;
        top: 7%;
    }
    .openButton {
        margin-bottom: 0%;
        margin-top: -4px;
    }
}

@media only screen and (min-width: 640px) and (max-width: 699px) {
    .mainMove {
        padding: 12px;
    }
    .mainMove .col-sm-10 {
        max-width: 72%;
    }
    .col-sm-10>.form-control {
        position: relative;
        display: block;
        width: 100%;
        padding: .375rem 0rem;
        text-indent: 6%;
        font-size: 14px;
    }
    .col-sm-10 {
        max-width: 76%;
        margin-left: 0%;
        padding-left: 0px;
        padding-right: 0px;
    }
    #searchIcon {
        left: 2%;
        top: 10px;
        font-size: 13px;
    }
    #cancelButton {
        left: -2%;
        font-size: 16px;
        top: 7%;
    }
    .openButton {
        margin-bottom: 0%;
        margin-top: -4px;
    }
}

@media only screen and (min-width: 412px)and (max-width: 413px) {
    .col-sm-10>.form-control {
        font-size: 12px;
        text-indent: 9%;
        width: 100%;
    }
    .col-sm-10 {
        max-width: 60%;
    }
    #searchIcon {
        left: 3%;
        font-size: 13px;
        top: 9px;
    }
    #cancelButton {
        top: 9%;
        left: 91%;
    }
}

@media only screen and (min-width: 414px) and (max-width: 416px) {
    #cancelButton {
        top: 9%;
        left: -6%;
        font-size: 15px;
    }
    .col-sm-10>.form-control {
        font-size: 12px;
        text-indent: 9%;
        width: 100%;
    }
    .col-sm-10 {
        max-width: 60%;
    }
    #searchIcon {
        left: 3%;
        font-size: 13px;
        top: 9px;
    }
}