.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {
  font-family: 'Lato', sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;
}

body, html {
  height: 100%;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: transparent;
}

/*-------------------------------*/

/*           Shift Body          */

/*-------------------------------*/

.main {
  margin-left: 0px;
  position: relative;
  transition: margin-left .5s;
}

.mainMove {
  margin-left: 220px;
  transition: margin-left .5s;
  padding: 16px;
}

.mainMove .container {
  padding: 6px;
}

#mainArticle {
  background-color: white;
}

#mainId {
  background-color: white;
  margin-bottom: 2%;
  margin-top: 2%;
}

#mainFeed {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.container .pd {
  background-color: white;
}

.openButton {
  float: left;
  font-size: 26px;
  cursor: pointer;
}

#openbtn {
  margin-left: 1%;
}

#floatLeft {
  float: left;
}

#floatRight {
  float: right!important;
}

.user {
  font-size: 25px;
  margin-left: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  margin-left: 37%;
  margin-bottom: 10%;
  background-color: #608199;
  padding: 14px 71px 1px 27px;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
}

.dropdown-content {
  top: 64px;
  left: 34px;
  overflow-y: scroll;
  height: 300px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding-left: 5px;
  z-index: 1;
}

.dropdown-content p {
  cursor: pointer;
  text-decoration: none;
}

.dropdown p:hover {
  background-color: #2e6da4;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search-icon {
  font-size: 25px;
  cursor: pointer;
}

.searchInput {
  border: 1px solid #DFDFDF;
  border-radius: 2px;
  padding: 0px;
  line-height: 16px;
  border-radius: 2px;
  background-color: transparent;
  box-shadow: none;
}

/*-------------------------------*/

/*           Loginpage             */

/*-------------------------------*/

#formheading {
  font-size: 35px;
  color: white;
  z-index: 100;
  position: absolute;
  top: 5%;
  left: 40%;
}

#login {
  font-size: 28px;
  color: white;
  z-index: 100;
  position: absolute;
  top: 9%;
  left: 48%;
}

.loginform {
  z-index: 100;
  font-size: 18px;
  position: absolute;
  top: 17%;
  left: 32%;
}

.newcard {
  top: 20%;
  left: 40%;
  border-radius: 5px;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  width: 22%;
  background-color: white;
  padding-bottom: 2%;
}

.newcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.newcard .container {
  padding: 2px 16px;
}

.sologo {
  margin: 7% 22% 7% 22%;
  width: 200px;
}

.fa-facebook-square, .fa-google-plus-official {
  font-size: 26px;
}

.fbLogin, .gLogin {
  display: block;
  padding: 11px 17px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.fbLogin {
  margin-top: 22%;
}

.gLogin {
  margin-top: 2%
}

/*-------------------------------*/

/*           Table               */

/*-------------------------------*/

.pageTitle {
  display: inline-block;
  font-size: 21px;
  margin-left: 2%;
  letter-spacing: 1px;
}

.container, .table .container {
  width: 100%;
}

.table {
  background-color: white;
  margin-top: 2%;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show-grid {
  border-bottom: 1px solid rgba(151, 151, 151, 0.2);
  padding: 17px 0px;
  font-weight: 400;
  font-size: 14px;
}

.head1, .head2, .head3, .head4, .head5, .head6, .head7 {
  font-weight: 700;
  color: black;
  padding: 12px 24px;
  line-height: 12px;
  height: 36px;
}

.head1, .head2 {
  text-align: left;
}

.head3 {
  text-align: left;
}

.rowData {
  font-size: 12px;
}

.publisher {
  text-transform: capitalize;
}

.publisher, .amp, .delete {
  padding-left: 2%;
}

.fa-refresh {
  color: green;
}

.fa-link {
  color: blue;
}

.eyee {
  margin-left: 24%;
}

.fa-eye-slash {
  color: grey;
  margin-left: 24%;
}

@media screen and (max-height: 640px) {
  .rowData {
    font-size: 11px;
  }
  /* .switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
  }
  .slider:before {
    height: 14px;
    width: 14px;
    left: 8px;
    bottom: 3px;
  } */
}

/*-------------------------------*/

/*           Sitch Button        */

/*-------------------------------*/

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 23px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider {
  background-color: #2196F3;
  left: 6px;
  bottom: 1px;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*-------------------------------*/

/*           Navigationbar       */

/*-------------------------------*/

.navbar {
  padding: 0px;
}

#sidebar-wrapper {
  z-index: 1000;
  left: 206px;
  position: fixed;
  width: 0;
  height: 100%;
  left: 0px;
  top: 0 px;
  overflow-y: auto;
  overflow-x: hidden;
  background: white;
  color: grey;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}

#openNavbar {
  z-index: 1000;
  left: 206px;
  position: fixed;
  width: 220px;
  height: 100%;
  left: 0px;
  top: 0 px;
  overflow-y: auto;
  overflow-x: hidden;
  background: white;
  color: grey;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#openNavbar::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #openNavbar {
  width: 220px;
}

/*-------------------------------*/

/*     Sidebar nav styles        */

/*-------------------------------*/

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative;
  line-height: 28px;
  display: inline-block;
  width: 100%;
  font-size: 15px;
}

.logo {
  padding-top: 2%;
  width: -webkit-stretch;
  margin-left: 19%;
}

#title {
  font-size: 24px;
  padding-top: 27px;
  padding-left: 26px;
  padding-bottom: 28px;
}

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background: white;
  color: grey;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -ms-transition: width .2s ease-in;
  transition: width .2s ease-in;
}

.sidebar-nav li a {
  color: grey;
  padding: 14px 10px 11px 30px;
  word-spacing: 8px;
  font-weight: 700;
  font-size: 16px;
}

.sidebar-nav li:first-child a {
  background-color: #0fb8ad;
  color: white;
  border-bottom: 1px solid rgba(151, 151, 151, 0.2);
}

/* 
.sidebar-nav li:nth-child(2):before {
  background-color: white;
  line-height: 8;
  border-bottom: 1px solid rgba(151, 151, 151, 0.2);
}

.sidebar-nav li:nth-child(3):before {
  color: white;
  background-color: #ec1b5a;
}

.sidebar-nav li:nth-child(4):before {
  color: white;
  background-color: #79aefe;
}

.sidebar-nav li:nth-child(5):before {
  color: white;
  background-color: #314190;
}

.sidebar-nav li:nth-child(6):before {
  color: white;
  background-color: #279636;
}

.sidebar-nav li:nth-child(7):before {
  color: white;
  background-color: #ead24c;
}

.sidebar-nav li:nth-child(8):before {
  color: white;
  background-color: #35acdf;
}

.sidebar-nav li:hover:before, .sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -ms-transition: width .2s ease-in;
  transition: width .2s ease-in;
}

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 20px 10px 20px 30px;
  word-spacing: 5px;
} */

.feed:hover {
  color: white;
  cursor: pointer;
}

.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
  color: grey;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px;
}

.sidebar-nav .dropdown-menu {
  position: initial;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #222;
  box-shadow: none;
}

.sidebar-nav .dropdown-menu li {
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/*-------------------------------*/

/*           Article form        */

/*-------------------------------*/

.form {
  background-color: white;
  border: 1px solid grey;
  height: auto;
  width: 77%;
  margin: 0 auto;
  padding: 5px;
}

* {
  box-sizing: border-box;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight: 500;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.col-20 {
  float: left;
  width: 20%;
  font-weight: 500;
  margin-top: 2%;
}

.col-10 {
  flex: none;
  float: left;
  width: 10%;
}

.col-30 {
  flex: none;
  float: left;
  width: 10%;
  margin-top: 2%;
  margin-right: 2%;
}

.createdBy {
  font-size: 16px;
  font-weight: 500;
}

.col-50 input {
  width: 100%;
}

.col-40 {
  float: left;
  width: 40%;
  margin-top: 6px;
}

.col-60 {
  float: left;
  width: 60%;
  margin-bottom: 2%;
  margin-top: 1%;
}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
  margin-bottom: 2%;
  padding-left: 2%;
}

.submitArticle {
  border-radius: 4px;
  border-color: #3f963f;
  color: #fff;
  margin: 2%;
  margin-top: 7%;
  cursor: pointer;
  padding: 9px 31px;
  background-color: #3e8e41;
}

.cancelArticle {
  background-color: #0062cc;
  border-radius: 4px;
  color: #fff;
  margin: 2%;
  margin-top: 7%;
  cursor: pointer;
  padding: 10px 37px;
  border-color: #2e6da4;
}

.cancelArticle:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
  .col-50, .col-40, .col-10, .col-60, .col-10, .col-20 input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.editor {
  width: 100%;
  border: 1px solid grey;
}

.submit {
  border-radius: 4px;
  border: 3px solid #e9ecef;
  color: #fff;
  margin: 2%;
  margin-top: 7%;
  cursor: pointer;
  padding: 10px 37px;
  background-color: #3e8e41;
}

.submit:hover {
  color: rgb(16, 134, 16);
  background: #fff;
  margin: 2%;
  margin-top: 7%;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 37px;
}

.cancel {
  border-radius: 4px;
  border: 3px solid #e9ecef;
  color: #fff;
  margin: 2%;
  margin-top: 7%;
  cursor: pointer;
  padding: 10px 37px;
  background-color: rgb(168, 173, 168);
}

.cancel:hover {
  color: rgb(238, 81, 81);
  background: #fff;
  margin: 2%;
  margin-top: 7%;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 27px;
}

.addcard {
  background-color: #4CAF50;
  border-color: #3f963f;
  color: white;
  font-size: 15px;
  padding: 9px;
  border-radius: 4px;
  margin: 2% 1% 2% -2%;
}

/*-------------------------------*/

/*    Multiselect Button         */

/*-------------------------------*/

.multiDropdown {
  position: relative;
  display: inline-block;
  margin-left: 2%;
}

.multibtn {
  background-color: #4CAF50;
  color: white;
  border-color: #3f963f;
  border-radius: 4px;
  padding: 12px 49px 12px 49px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.multi-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.multi-content input {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

.multi-content a:hover {
  background-color: #f1f1f1
}

.multiDropdown:hover .multi-content {
  display: block;
}

.multiDropdown:hover .multibtn {
  background-color: #4CAF50;
}

/*-------------------------------*/

/*           Feed card           */

/*-------------------------------*/

/* 
 */

.card {
  background-color: #f5f5f5;
  width: 95%;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
}

.card6 {
  margin: 0 auto;
  border-radius: 7px;
  color: #273746;
  background-color: #f5f5f5;
  margin-top: 3Px;
}

.card .container {
  padding: 5px;
}

.left-part {
  float: left;
  padding: 1%;
}

.articleImage {
  width: 200px;
}

.middle-part {
  line-height: 2;
  float: left;
  padding: 1%;
}

.icons i {
  padding-right: 3%;
}

.title {
  font-size: 17px;
}

.image-brand {
  margin-left: -13px;
}

.image-user {
  width: 60px;
  height: 60px;
  margin-right: 1%;
  border-radius: 50%;
}

.fa-eye {
  cursor: pointer;
  color: #273746;
  position: relative;
  opacity: 1;
}

.fa-eye:hover, .fa-share-alt:hover, .fa-calendar:hover, .fa-location-arrow:hover {
  transform: scale(1.1);
}

.fa-share-alt {
  cursor: pointer;
  color: #273746;
}

.fa-calendar {
  cursor: pointer;
  color: #273746;
}

.fa-location-arrow {
  cursor: pointer;
  color: #273746;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 100000;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.content a {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

.right-part {
  line-height: 2;
  color: grey;
  font-size: 12px;
  float: right;
  padding-right: 1%;
  padding-top: 1%;
}

.fa-check-circle-o, .fa-file-text-o {
  color: green;
}

.fa-star {
  color: orange;
}

.fa-bell {
  color: #2471A3;
}

.fa-trash {
  color: #ec4545;
}

.fa-times {
  color: #797373;
  float: right;
  margin-right: -11%;
  margin-top: 5px;
}

@media only screen and (max-width: 640px) {
  .title {
    font-size: 12px;
  }
  .subtitle {
    font-size: 12px;
  }
  .right-part {
    font-size: 11px;
  }
  .articleImage {
    width: 90px;
  }
}

/*-------------------------------*/

/*           Datetime picker      */

/*-------------------------------*/

.hide {
  display: none;
}

.rdt .hide {
  display: none;
}

.rdt {
  position: relative;
  width: 20%;
}

.rdt>input {
  border: 1px solid #000;
}

.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  border: 1px solid #f9f9f9;
}

.rdtOpen .rdtPicker {
  display: block;
}

.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}

.rdtPicker td, .rdtPicker th {
  text-align: center;
  height: 28px;
}

.rdtPicker td {
  cursor: pointer;
}

.rdtPicker td.rdtToday:hover, .rdtPicker td.rdtHour:hover, .rdtPicker td.rdtMinute:hover, .rdtPicker td.rdtSecond:hover, .rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}

.rdtPicker td.rdtOld, .rdtPicker td.rdtNew {
  color: #999999;
}

.rdtPicker td.rdtToday {
  position: relative;
}

.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.rdtPicker td.rdtActive, .rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}

.rdtPicker td.rdtDisabled, .rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}

.rdtPicker td span.rdtDisabled, .rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}

.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
}

.rdtPicker th.rdtSwitch {
  width: 100px;
}

.rdtPicker th.rdtNext, .rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span, .rdtNext span {
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled, .rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker thead tr:first-child th {
  cursor: pointer;
}

.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}

.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth, td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}

td.rdtMonth:hover, td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters>div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.rdtCounter .rdtBtn:hover {
  background: #eee;
}

.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.rdtDayPart {
  margin-top: 43px;
}